:root {
    --correct: #6aaa64;
    --correctText: white;
    --almost: #c9b458;
    --almostText: white;
    --notQuite: #787c7e;
    --notQuiteText: white;
    --notYet: #d8d8d8;
    --notYetText: black;
    --entry: #878a8c;
    --entryText: black;
}

* {
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

bytle-board {
    display: block;
    width: 100%;
    margin: auto;
}

bytle-row {
    display: flex;
}

bytle-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 3px;
    color: var(--entryText);
    border: 2px solid var(--notYet);
}

bytle-cell[bytle-state="entry"] {
    border: 2px solid var(--entry);
    color: var(--entryText);
}

bytle-cell[bytle-state="correct"] {
    background-color: var(--correct);
    color: var(--correctText);
    border: none;
}

bytle-cell[bytle-state="almost"] {
    background-color: var(--almost);
    color: var(--almostText);
    border: none;
}

bytle-cell[bytle-state="notQuite"] {
    background-color: var(--notQuite);
    color: var(--notQuiteText);
    border: none;
}

#bytleNumber {
    font-size: 0.5em;
    color: var(--notQuite);
}

#entry {
    width: 100%;
    margin-top: 5vh;
    background-color: transparent;
    color: inherit;
    font-size: 5vh;
    text-align: center;
    border: none;
    outline: none;
}

#entry:focus::placeholder {
    color: transparent;
}

main[bytle-state~="finished"] #entry {
    display: none;
}

main[bytle-state~="playing"] #instructions, main[bytle-state~="finished"] #instructions {
    display: none;
}

#result {
    text-align: center;
}

main:not([bytle-state~="finished"]) #result {
    display: none;
}

#streakLabel {
    color: var(--almost);
    font-size: 1.2em;
}

main[bytle-state~="lost"] #streakLabel {
    display: none;
}

#streakLabel p {
    margin: 0;
}

main[bytle-state~="lost"] #shareButton {
    display: none;
}

button {
    background-color: var(--correct);
    color: var(--correctText);
    font-size: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    cursor: pointer;
}

#shareButton {
    margin-top: 0.5rem;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}